body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/desert.png');
    background-position: center;
    height: 100svh;
    background-size: cover;
    font-family: 'Bangers', cursive;
    font-size: 78px;
    color: #ffda18;
    text-shadow: 3px 5px 0px rgba(0, 0, 0, 0.278);
    text-decoration: underline;
}

.game {
    background-color: black;
    border-radius: 16px;
    box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.278);
    display:none;
}

.startscreen {
    display:block;
}

.startscreen img {
    border-radius: 16px;
    box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.278);
}

.startbutton {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d8d900;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
}

.endscreen {
    display:none;
    background-image: url('img/5_background/first_half_background.png');
    border-radius: 16px;
    height: 480px;
    width: 720px;
}

.endscreen img {
    border-radius: 16px;
    box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.278);
}
.mute_button{
    display:block;
}
.mute_button button{
    border-radius: 16px;
    background-color: #d8d900;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.mute_button img{
   height: 35px; 
}

.unmute_button{
    display:none;
}
.unmute_button button{
    border-radius: 16px;
    background-color: #d8d900;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.unmute_button img{
   height: 35px; 
}

.fullscreen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}